<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Cadastro</title>
</head>

<body>
    <form action="/cadastro" method="post">
        <h1>Cadastro</h1>
        <label for="username">User</label>
        <input type="text" id="username" name="usernameInput" autofocus required>

        <label for="password">Senha</label>
        <input type="text" id="password" name="passwordInput" required>

        <label for="passwordCheck">Confirma Senha</label>
        <input type="text" id="passwordCheck" name="passwordCheckInput" required>

        <% if(error){ %>
            Algo deu errado
        <% } %>

        <button type="submit" style="margin-top:20px">Cadastrar</button>
        <br>
        <a href="/">Voltar para login</a>
    </form>

</body>

</html>