<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Principal</title>
</head>

<body>
    <div id="container">
        <h1>
            Bem vindo <%= username %>
        </h1>

        <form action="/desloga" method="post">
            <button type="submit">Deslogar</button>
        </form>

        <form action="/delete" method="post">
            <input type="hidden" name="idInput" value=" <%= id %> ">
            <button type="submit" style="margin-top: 20px">Apagar Conta</button>
        </form>
        <br>
        <a href="/atualiza">Mudar o username</a>
    </div>

</body>

</html>